VaksinApp/VaksinApp/Connected Services/KonfirmVaksinService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KonfirmVaksinService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KonfirmVaksinService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Data_Pasien">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_pasien" type="xs:int" />
      <xs:element minOccurs="0" name="id_vaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nik_pasien" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="no_rekam_medis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Data_Pasien" nillable="true" type="tns:Data_Pasien" />
  <xs:complexType name="ArrayOfData_Pasien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Data_Pasien" nillable="true" type="tns:Data_Pasien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfData_Pasien" nillable="true" type="tns:ArrayOfData_Pasien" />
</xs:schema>