VaksinApp/VaksinApp/Connected Services/VaksinRegistService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60062/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrasiVaksin_Service" />
  <xs:element name="GetVaksin">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaksinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistrasiVaksin_Service" minOccurs="0" name="GetVaksinResult" nillable="true" type="q1:ArrayOfVaksinData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RegistrasiVaksin_Service" minOccurs="0" name="obj" nillable="true" type="q2:VaksinData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVaksinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RegistrasiVaksin_Service" minOccurs="0" name="obj" nillable="true" type="q3:VaksinData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVaksinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVaksin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVaksinResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RegistrasiVaksin_Service" minOccurs="0" name="GetDataByIdResult" nillable="true" type="q4:VaksinData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>