VaksinApp/VaksinApp/Connected Services/VaksinRegistService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RegistrasiVaksin_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RegistrasiVaksin_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVaksinData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VaksinData" nillable="true" type="tns:VaksinData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVaksinData" nillable="true" type="tns:ArrayOfVaksinData" />
  <xs:complexType name="VaksinData">
    <xs:sequence>
      <xs:element minOccurs="0" name="no_register" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tanggal_dibuat" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VaksinData" nillable="true" type="tns:VaksinData" />
</xs:schema>