VaksinApp/VaksinApp/Connected Services/CekNikService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60060/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CekNikService" />
  <xs:element name="GetNik">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CekNikService" minOccurs="0" name="GetNikResult" nillable="true" type="q1:ArrayOfData_Penduduk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CekNik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CekNikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CekNikResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>